{% extends 'movies/base.html' %}

{% block title %} Movies {% endblock %}

{% block content %}
<form action="{% url 'add_show' %}" method='POST'>
    {% csrf_token %}
    {{form}}
    <input type='submit' value="Add">
</form>
<h1> Movies </h1>
<ul> 
    {% for movie in movies %}
    <li>
        <a href="{% url 'detail' movie.id %}">{{movie.title}}</a> 
        <a href="{% url 'update' movie.id %}"><button>Update</button></a>
        <a href="{% url 'delete' movie.id %}"><button>Delete</button></a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
